@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
  nav ul li a{
        padding: .6rem 1rem;}
    
  article p.town-article img { width: 29.333%; }
    
/* GRID SLIDESHOW STYLE */
    
.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-gap: 10px;}
    
.grid img:hover {box-shadow: 5px 5px 10px gray;}   


/* INDEX GRID STYLE */

.frow{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.srow{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.frow img:hover {box-shadow: 5px 5px 10px gray;}
.srow img:hover {box-shadow: 5px 5px 10px gray;}
    
}
